@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'EB Garamond', serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 900px;
  height: 1400px;
}

html,
body {
  margin: 0;
  background: transparent;
}

body {
  color: #f6ebd3;
  font-family: 'EB Garamond', serif;
  overflow: hidden;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
